[Unit]
Description=CBS heart
After=roudi.service
Wants=roudi.service

[Service]
Type=simple
User=rv

ExecStart=/bin/bash -c ' \
    source /opt/ros/jazzy/setup.bash && \
    source /home/rv/RoverFlake2/install/setup.bash && \
    exec ros2 launch rover_manager heart_start_jetson.launch.py \
'

WorkingDirectory=/home/rv/RoverFlake2
Restart=always
RestartSec=5

KillMode=control-group
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target